# Codio Coding Activity 3.4: Designing, Structuring, and Indexing Pandas Dataframes

### Learning Outcome Addressed

- 8. Design *dataframes* in pandas.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)

### Importing Pandas

Before you begin this activity, you need to import the *pandas* library.

Run the code cell below:

In [ ]:
import pandas as pd

### A Note about the Data

The datasets used throughout this activity are saved inside the folder `/data`.

More information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

Each row in the file `athlete_events.csv` corresponds to an individual athlete competing in an individual Olympic event. The columns in the *dataframe* are:

- ID - Unique number for each athlete
- Name - Athlete's name
- Sex - M or F
- Age - Athlete's age
- Height - In centimeters
- Weight - In kilograms
- Team - Team name
- NOC - National Olympic Committee 3-letter code
- Games - Year and season
- Year - Year of game
- Season - Summer or Winter
- City - Host city
- Sport - Sport
- Event - Event
- Medal - Gold, Silver, Bronze, or NA


**References:**
Rgriffin. (2018). “120 years of Olympic history: athletes and results.” Accessed July 15, 2021. 
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results .

### Question 1
*1 point*

Read the file `"athlete_events.csv"` in the `data/` folder and assign it to a *dataframe* called `athletes`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
athletes = None

### BEGIN SOLUTION
athletes = pd.read_csv("data/athlete_events.csv")
### END SOLUTION

Let's take a look at the *dataframe* *`athletes`*.

In [ ]:
athletes.head()

### Question 2
*3 points*

Create a new *dataframe, `ans2a,`* by selecting the following from the *dataframe `athletes`*:
    
- the rows with labels from 3 through 11.
- the columns from `ID` to `Height`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans2a = None

### BEGIN SOLUTION
ans2a =athletes.loc[3:11, "ID": "Height"]
### END SOLUTION

### Question 3
*3 points*

Select all the rows from the *dataframe `athletes`* where *`Year`* is greater than 1980. 
Assign this *dataframe* to *`ans3a`*.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans3a = None

### BEGIN SOLUTION
ans3a = athletes.loc[athletes.Year > 1980]
### END SOLUTION

### Question 4
*3 points*

Select the rows with *index* 0, 10, 20, 40, 43, 66 and the columns with *index* 0, 3, 5 from the *dataframe `athletes.`* Store your results in a *dataframe* called *`ans4a`*.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans4a = None

### BEGIN SOLUTION
ans4a = athletes.iloc[[0, 10, 20, 40, 43, 66],[0, 3, 5]]
### END SOLUTION

### Question 5
*2 points*

Define a *pandas dataframe, `ans5a,`* with the following elements:
    
    
| Country Code | Country | 
| --- | --- | 
| USA| United States| 
| ITA| Italy| 
| CAN| Canada|
| DEU| Germany| 

Next, define a *pandas dataframe, `ans5b,`* with the following entries:

| Country Code | Country | 
| --- | --- | 
| FRA| France| 
| GBT| NaN| 

**HINT:** Use *`np.NaN`* to define the missing values.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans5a = None
ans5b = None


### BEGIN SOLUTION
country1 = {'Country Code': ['USA', 'ITA', 'CAN', 'DEU'], 'Country': ['United States', 'Italy', 'Canada', 'Germany']}
country2 = {'Country Code': ['FRA', 'GBT'], 'Country': ['France', np.NaN]}
ans5a = pd.DataFrame(country1)
ans5b =  pd.DataFrame(country2)
### END SOLUTION

### Question 6
*2 points*

Perform a union between *`ans5a`* and *`ans5b`*. Assign the new *dataframe* to *`ans6a`*. Reset the *index*.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans6a = None


### BEGIN SOLUTION
ans6a = pd.concat([ans5a, ans5b]).reset_index(drop = True)
### END SOLUTION

Run the code cell below to visualize the *dataframe `ans6a.`*

In [ ]:
ans6a.head(6)

### Question 7
*1 point*

Define a *pandas dataframe, `ans7a,`* with the following elements:
    
    
| Country Code | Capital | 
| --- | --- | 
| USA| Washington| 
| ITA| Rome| 
| CAN| NaN|
| DEU| Berlin|
| GBT| NaN|

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans7a = None


### BEGIN SOLUTION
capital = {'Country Code': ['USA', 'ITA', 'CAN', 'DEU', 'GBT'], 
           'Capital': ['Washington', 'Rome', np.NaN, 'Berlin', np.NaN]}
ans7a = pd.DataFrame(capital)
### END SOLUTION

### Question 8
*3 points*

Perform an inner *join* on the column *`Country Code`* between *`ans6a`* and *`ans7a`*. Assign the new *dataframe* to *`ans8a`*.

How many NaNs are in the resulting *dataframe*? Assign your response as an integer to *`ans8b`*.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans8a = None
ans8b = None

### BEGIN SOLUTION
ans8a = pd.merge(ans6a, ans7a, on = 'Country Code', how = 'inner')
ans8b = 3
### END SOLUTION

### Question 9
*2 points*

Perform a left *join* on the column *`Country Code`* between *`ans6a`* and *`ans7a`*. Assign the new *dataframe* to *`ans9a`*.

How many NaNs are in the resulting *dataframe*? Assign your response as an integer to *`ans9b`*.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans9a = None
ans9b = None

### BEGIN SOLUTION
ans9a = pd.merge(ans6a, ans7a, on = 'Country Code', how = 'left')
ans9b = 4
### END SOLUTION