# Codio Coding Activity 3.1: Series and Dataframes

### Learning Outcome Addressed

- 2. Implement pandas *series* and *dataframes*.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)

### Importing Pandas

Before you begin with this activity, you need to import the *pandas* library.

Run the code cell below.

In [1]:
import pandas as pd

## Pandas *Series*


A *pandas series* is a one-dimensional *indexed array* capable of storing any data type as long as all the elements stored in it are of the same type.

### Question 1
*2 points*

The *list,* *`list1,`* has been defined for you below. 

Create a *pandas series*, *`ans1a,`* with the same elements stored in *`list1.`*

Assign the length of *`ans1a`* to *`ans1b`*.


What is the type of *`ans1a`*? Assign your result to *`ans1c`*.

In [2]:
### GRADED
list1 = [2,4,6,8]


### YOUR SOLUTION HERE
ans1a = None
ans1b = None
ans1c = None

### BEGIN SOLUTION
ans1a = pd.Series(list1)
ans1b = len((ans1a))
ans1c = type(ans1a)
### END SOLUTION

### Question 2
*2 points*

Consider the *series `ans1a`* defined in Question 1.

Re-create the *series* in the exact same way, but now include an index with elements `a`, `b`, `c`, and `d`. Assign the new *series* to *`ans2a`*.

In [9]:
### GRADED

### YOUR SOLUTION HERE
ans2a = None

### BEGIN SOLUTION
ans2a = pd.Series(data = [2,4,6,8], index = ['a', 'b', 'c', 'd'])
### END SOLUTION

A *pandas series* can also be defined from a *dictionary* by using the *pandas function `Series().`*

### Question 3
*2 points*

The *dictionary* *`students`* has been defined for you below. 

Create a *pandas series*, *`ans3a,`* from *`students.`*

Assign the length of *`ans3a`* to *`ans3b`*.

In [10]:
### GRADED
students = {'Id1' : 'Mary', 'Id2' : 'Jessica', 'Id3' : 'Sophie'}

### YOUR SOLUTION HERE
ans3a = None
ans3b = None

### BEGIN SOLUTION
ans3a = pd.Series(students)
ans3b = len(ans3a)
### END SOLUTION

### Question 4
*2 points*

Create a copy of *`ans3a`*, assigned to *`ans4a`*, but change the second value to *`Dayna`*.

In [11]:
### GRADED

### YOUR SOLUTION HERE
ans4a = None

### BEGIN SOLUTION
ans4a = ans3a
ans4a[1] = 'Dayna'
### END SOLUTION

### Question 5
*3 points*

Define a datetime *index, `ans5a,`* with ten elements spaced daily starting from July 1, 2021 and 12:00pm in the Europe/Berlin timezone.

In [12]:
### GRADED

### YOUR SOLUTION HERE
ans5a = None

### BEGIN SOLUTION
ans5a = pd.date_range(start = '2021-07-01 12:00', freq = 'd', periods = 10, tz = 'Europe/Berlin')
### END SOLUTION

### Question 6
*3 points*

Define a *NumPy array, `ans6a`*, with shape *`(4,4)`* and random *integer* elements between *`0`* and  *`16.`*

Define a  datetime *index, `ans6b,`* with 4 elements spaced daily starting from April 30, 2021.

Create a *dataframe, `ans6c,`* that has the elements of *`ans6a`* as entries and the elements in *`ans6b`* as *index*.

**Note:** The necessary *libraries* for this question have been imported for you in the code cell below.

In [13]:
### GRADED
import numpy as np
np.random.seed(123)


### YOUR SOLUTION HERE
ans6a = None
ans6b = None
ans6c = None

### BEGIN SOLUTION
ans6a = np.random.randint(1,16, size =(4,4))
ans6b = pd.date_range(start = '2021-04-30', freq = 'd', periods =4)
ans6c= pd.DataFrame(data = ans6a, index=ans6b)
### END SOLUTION

### Question 7
*3 points*

Consider the *dataframe, `ans6c,`* that you have defined in the previous question.


Recreate the *dataframe* in the exact same way, but now including columns to be equal to `Adults`, `Seniors`, `Teenagers`, and `Children`. Assign the new *dataframe* to *`ans7a`*.

In [14]:
### GRADED
import numpy as np
np.random.seed(123)


### YOUR SOLUTION HERE
ans7a = None

### BEGIN SOLUTION
ans7a= pd.DataFrame(data = ans6a, index=ans6b, columns = ['Adults', 'Seniors', 'Teenagers', 'Children'])
ans7a
### END SOLUTION

            Adults  Seniors  Teenagers  Children
2021-04-30      15       14         15         3
2021-05-01      13        3          7         2
2021-05-02       4       11         12        10
2021-05-03       7        2          1         2

### Question 8
*3 points*


Read the file `women.csv` in the `data` folder. Assign the data to the *dataframe `ans8a`*.

Drop the column `position` and change the name of the column `name` to `first_name`.

In [9]:
### GRADED


### YOUR SOLUTION HERE

### BEGIN SOLUTION
ans8a= pd.read_csv('data/women.csv')
ans8a = ans8a.drop('position', axis = 1)
ans8a.columns.values[0] = 'first_name'
### END SOLUTION