In [33]:
import pandas as pd
import numpy as np
aList = [1,2,3,4]
bList = ['a','b','c','d']
s1 = pd.Series(data = aList, index = bList)
s1
s2 = s1[['a','c']]
s2
s3 = pd.Series(aList, bList)
type(s3)

pandas.core.series.Series

In [34]:
myDict = {'a':1,'b':2, 'c':3, 'd':4}
s1 = pd.Series(myDict)
s1

a    1
b    2
c    3
d    4
dtype: int64

In [50]:
myTimes = pd.date_range(start = '2021-01-01 07:00', freq='d', periods = 4, tz = 'Europe/Berlin')
myTimes

s4 = pd.Series(data = aList, index = myTimes)
s4
s5 = pd.Series(data = myTimes, index = aList)

s5.to_json(orient = 'records')

pd.read_json(_, orient = 'index')

AttributeError: 'list' object has no attribute 'values'

In [75]:
import pandas as pd
import numpy as np

cols = list('ABCD')

myArr = np.random.randint(0,100,size = (5,4))
indx = pd.date_range(start = '2020-01-01', freq='D', periods = 5)

df = pd.DataFrame(data = myArr, columns = cols, index = indx)

df

df['E'] = df['A'] + df['B']
df['F'] = df['A'] + df['B']
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-01-01 to 2020-01-05
Freq: D
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int32
 1   B       5 non-null      int32
 2   C       5 non-null      int32
 3   D       5 non-null      int32
 4   E       5 non-null      int32
 5   F       5 non-null      int32
dtypes: int32(6)
memory usage: 160.0 bytes

In [84]:
import pandas as pd

contact = { 'Name':['A','B','C'],'Email':['a@a.com','b@b.com','c@c.com'], 'Course':['C1','C2','C3'] }


df = pd.DataFrame(index=range(1,4))
df['Name'] = contact['Name']
df['Email'] = contact['Email']
df['Course'] = contact['Course']

df

  Name    Email Course
1    A  a@a.com     C1
2    B  b@b.com     C2
3    C  c@c.com     C3

In [102]:
import pandas as pd
import numpy as np

cols = list('ABCD')
myArr = np.random.ranf(size=(5,4))
myArr[2,3] = np.NaN
myArr[3,2] = np.NaN
df = pd.DataFrame(data=myArr, columns = cols)
df1 = pd.DataFrame(data=myArr, columns = cols)
df2 = pd.DataFrame(data=myArr, columns = cols)
print(df1)
df1.dropna(inplace = True)
print(df1)
df2.fillna(value = 0, inplace = True)
df2

          A         B         C         D
0  0.011449  0.277814  0.221731  0.645568
1  0.759032  0.726558  0.497022  0.314635
2  0.406566  0.951790  0.828313       NaN
3  0.721705  0.956377       NaN  0.321343
4  0.995809  0.673984  0.749730  0.312070
          A         B         C         D
0  0.011449  0.277814  0.221731  0.645568
1  0.759032  0.726558  0.497022  0.314635
4  0.995809  0.673984  0.749730  0.312070

          A         B         C         D
0  0.011449  0.277814  0.221731  0.645568
1  0.759032  0.726558  0.497022  0.314635
2  0.406566  0.951790  0.828313  0.000000
3  0.721705  0.956377  0.000000  0.321343
4  0.995809  0.673984  0.749730  0.312070

In [106]:
import pandas as pd
import numpy as np
cols = list('ABCD')
np.random.seed(seed=1)
myArr - np.random.ranf(size=(5,4))
df = pd.DataFrame(data = myArr, columns = cols)
df['Fruit'] = ['apple','pear','orange', 'pear', 'apple']
one_hot = pd.get_dummies(df['Fruit'])
df = df.join(one_hot)
df.drop('Fruit', axis = 1, inplace = True)
df

          A         B         C         D  apple  orange  pear
0  0.011449  0.277814  0.221731  0.645568      1       0     0
1  0.759032  0.726558  0.497022  0.314635      0       0     1
2  0.406566  0.951790  0.828313  0.000000      0       1     0
3  0.721705  0.956377  0.000000  0.321343      0       0     1
4  0.995809  0.673984  0.749730  0.312070      1       0     0

In [117]:
df.index = pd.date_range(start='1/1/2018',periods=5)
df.to_json(orient = 'index') #, date_format = 'iso')

'{"1514764800000":{"A":0.0114489517,"B":0.2778138201,"C":0.2217310302,"D":0.645568019,"apple":1,"orange":0,"pear":0},"1514851200000":{"A":0.7590320892,"B":0.7265576837,"C":0.4970224877,"D":0.3146347858,"apple":0,"orange":0,"pear":1},"1514937600000":{"A":0.4065655664,"B":0.9517897324,"C":0.8283133626,"D":0.0,"apple":0,"orange":1,"pear":0},"1515024000000":{"A":0.7217048278,"B":0.9563766676,"C":0.0,"D":0.3213425558,"apple":0,"orange":0,"pear":1},"1515110400000":{"A":0.9958087935,"B":0.6739837272,"C":0.7497300226,"D":0.3120699023,"apple":1,"orange":0,"pear":0}}'

In [118]:
data = pd.read_json(_,orient = 'index')
data

                   A         B         C         D  apple  orange  pear
2018-01-01  0.011449  0.277814  0.221731  0.645568      1       0     0
2018-01-02  0.759032  0.726558  0.497022  0.314635      0       0     1
2018-01-03  0.406566  0.951790  0.828313  0.000000      0       1     0
2018-01-04  0.721705  0.956377  0.000000  0.321343      0       0     1
2018-01-05  0.995809  0.673984  0.749730  0.312070      1       0     0

In [124]:
myArray = np.array([1,2,3,4,5,6,7])
mySeries = pd.Series(myArray)
mySeries.index = pd.date_range(start = '1/1/1970', periods = 7)
mySeries.index.dayofweek

Int64Index([3, 4, 5, 6, 0, 1, 2], dtype='int64')