# House Prices Prediction Project

>In this project with the provided data of various Houses related data and the attributes, we are going to build a *linear regression* algorithm model to predict the ***prices***.

## Table of contents
* <u>[Summary of Input Data](anchor-example-1)</u>

In [66]:
import numpy as np
import pandas as pd
data = pd.read_csv('https://bit.ly/drinksbycountry')

## <u> Data Top 5 Rows <a class = "anchor" id="anchor-example-1"></a></u>
This section gives the summary of the input data what we have for the House Prices Prediction.

Here is the code am going to see the summary of dataframe

```python
# Consider data as my dataframe
data.head()
data.tail()
data.info()
```
data.head()

In [67]:
data.head()
data.tail()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB